@model OlympMotors.Models.Flight

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Flight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Flight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberFlight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberFlight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Route)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Route)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Driver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Conductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Conductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Transport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Transport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountTicket)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
