@model IEnumerable<OlympMotors.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopPoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Route)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopPoint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Route }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Route }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Route })
        </td>
    </tr>
}

</table>
